body {
    font: normal 14px/1.4 helvetica, arial, sans-serif;
}

.label-form {
    display: inline-block;
    overflow: hidden;
    padding: 1em 2em 2em;
}

.label-form__row {
    position: relative;
}

.label-form__row--inline {
    float: left;
    margin-right: 4em;
}

.label-form__row-label {
    display: block;
    min-height: 2.5em;
}

.label-form__row-input {
    padding: .5em;
}

.label-form__row.disabled::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 7em);
    top: 7em;
    left: 0;
    opacity: .75;
    background: #fff;
}

#label-list {
    width: 762px;
    height: 1124px;
    margin: 55px auto 0;
    overflow: hidden;
}

.label-container {
    float: left;
    padding: 0 20px;
    min-width: 20px;
    min-height: 20px;
    box-sizing: border-box;
    border: 1px dashed #aaa;
}

.label-container:nth-child(even) {
    margin-left: 10px;
}

.label-container p {
    margin: .5em;
}

@media print {
    body {
        margin: 0;
    }

    .label-form {
        display: none;
    }
}
