body {
    font: normal 14px/1.4 helvetica, arial, sans-serif;
}

.container {
    display: inline-block;
    overflow: hidden;
    padding: 1em 2em 2em;
}

.settings-form {
    overflow: hidden;
}

.settings-form__field {
    float: left;
    margin-right: 4em;
}

.settings-form__field-label {
    display: block;
    min-height: 1.5em;
}

.settings-form__field-input {
    padding: .5em;
}

.settings-form__field.disabled::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 7em);
    top: 7em;
    left: 0;
    opacity: .75;
    background: #fff;
}

#label-list {
    width: 762px;
    height: 1124px;
    margin: 40px auto 0;
    overflow: hidden;
    position: relative;
}

.label-container {
    position: absolute;
    padding: 0 20px;
    min-width: 20px;
    min-height: 20px;
    box-sizing: border-box;
    border: 1px dashed #aaa;
}

.label-container p,
.label-container h1,
.label-container h2,
.label-container h3 {
    margin: 0;
    line-height: 1.1;
}

.wysiwyg-container {
    margin-top: 2em;
}

@media print {
    body {
        margin: 0;
    }

    .container {
        display: none;
    }
}
